{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<agm-map [latitude]="lat" [longitude]="lng">
  <!--Mettiamo un marker alle nostre coordinate-->
  <agm-marker [latitude]="lat" [longitude]="lng">

  </agm-marker>
  <agm-marker [latitude]="lati" [longitude]="lngi"></agm-marker>

  <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icon"></agm-marker>
  <agm-marker [latitude]="latT" [longitude]="lngT" [iconUrl]="icon1"></agm-marker>
  <agm-marker [latitude]="latV" [longitude]="lngV" [iconUrl]="icon2"></agm-marker>
  <agm-marker [latitude]="latB" [longitude]="lngB" [iconUrl]="icon3"></agm-marker>

   <agm-circle [latitude]="lat" [longitude]="lng"
      [radius]="5000"
      [fillColor]="color">
  </agm-circle>

   <agm-circle [latitude]="lati" [longitude]="lngi"
      [radius]="5000"
      [fillColor]="color">
  </agm-circle>

  <agm-polygon [paths]="triangle" [fillColor]="colorR">
</agm-polygon>

<agm-polygon [paths]="rettangolo" [fillColor]="colorR">
</agm-polygon>


</agm-map>

<button (click)="onClickRed()">rosso cerchio</button>
<button (click)="onClickBlu()">Blu cerchio</button>
<button (click)="onClickVerde()">verde cerchio</button>

<button (click)="onClickRectGiallo()">giallo rettangolo</button>
<button (click)="onClickRectBlu()">blu rettangolo</button>
<button (click)="onClickRectRosa()">rosa rettangolo</button>
