{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<agm-map [latitude]="lat" [longitude]="lng">
  <!--Mettiamo un marker alle nostre coordinate-->
  <agm-marker [latitude]="lat" [longitude]="lng">

  </agm-marker>
  <agm-marker [latitude]="lati" [longitude]="lngi">

  </agm-marker>
   <agm-circle [latitude]="lat" [longitude]="lng"
      [radius]="5000"
      [fillColor]="'red'">
  </agm-circle>

   <agm-circle [latitude]="lati" [longitude]="lngi"
      [radius]="5000"
      [fillColor]="'yellow'">
  </agm-circle>

  <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icon">
  </agm-marker>

</agm-map>

<button onClick()>giallo</button>
<button onClick()>blue</button>
<button onClick()>red</button>

